@model IEnumerable<ConstellationStore.Models.Customer>

@{
    ViewBag.Title = "Customers Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="margin-top-10">Customers Index</h2>

<div class="container">
    <div class="row margin-top-10">
        <div class="col-md-7">
            <div class="row">
                <div class="col-xs-9">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <p>
                            @Html.TextBox("SearchString", null, new { id = "SearchString", @class = "form-control" })
                        </p>
                    }
                </div>
                <div class="col-xs-2 btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <a href="@Url.Action("Create", "Customers")" class="btn btn-primary pull-right">
                Create New &nbsp;
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img class="img-responsive img-circle img-center customer-heading" src="@Html.DisplayFor(modelItem => item.PictureUrl)" alt="">
                    </div>
                    <div class="panel-body customer-body">
                        <h3>@Html.DisplayFor(modelItem => item.CustomerName)</h3>
                        <h4>Phone: @Html.DisplayFor(modelItem => item.HomePhone)</h4>
                        <h4>Email: @Html.DisplayFor(model => item.EmailAddress)</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                        <a href="@Url.Action("Details", "Customers", new { id = item.CustomerId })" class="btn btn-primary">
                            Details
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </a>
                        <a href="@Url.Action("Edit", "Customers", new { id = item.CustomerId })" class="btn btn-primary">
                            Edit &nbsp; &nbsp;
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="@Url.Action("Delete", "Products", new { id = item.CustomerId })" class="btn btn-primary">
                            Remove &nbsp;
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PictureUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Town)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
                </td>
            </tr>
        }

    </table>
