@model IEnumerable<ConstellationStore.Models.Order>

@{
    ViewBag.Title = "Orders Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders Index</h2>


<table class="table">
    <tr>
        <th>
            Order Date &nbsp;
            <span class="btn btn-primary glyphicon glyphicon-sort" aria-hidden="true"></span>
        </th>
        <th>
            Customer Name &nbsp;
            <span class="btn btn-primary glyphicon glyphicon-sort" aria-hidden="true"></span>
        </th>
        <th>
            Total CDN$ &nbsp;
            <span class="btn btn-primary glyphicon glyphicon-sort" aria-hidden="true"></span>
        </th>
        <th></th>
    </tr>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <tr>
            <th>
                @Html.TextBox("SearchString", null, new { id = "SearchString", @class = "form-control" })
            <th>
                @Html.TextBox("SearchString", null, new { id = "SearchString", @class = "form-control" })
            </th>
            <th class="btn btn-primary glyphicon glyphicon-search" aria-hidden="true">
            </th>
            <th></th>
        </tr>
    }

    @{ DateTime myDate = DateTime.Now; }

    @for (int i = 0; i < 21; i++)
    {
        <tr>
            <td>
                @Html.Raw( myDate )
            </td>
            <td>
                John Mac @Html.Raw(i)
            </td>
            <td>
                @Html.Raw( (Math.Sqrt((double)i)* 100).ToString("C") )
            </td>
            <td>
                <a href="" class="btn btn-primary">
                    Items List
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <a href="" class="btn btn-primary">
                    Edit Customer
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <a href="" class="btn btn-primary">
                    Cancel Order
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    }

</table>
