@model IEnumerable<ConstellationStore.Models.BasketItem>

@{
    ViewBag.Title = "Basket Summary";
}

<h2>Basket Summary</h2>

<p>
    @Html.ActionLink("Add To Basket", "AddToBasket")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasketID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-xs-2">
                <div >
                    <img class="img-responsive img-rounded" src="@Html.DisplayFor(modelItem => item.Product.ImageUrl )" alt="@item.Product.Description">
                </div>
            </td>
            <td class="col-xs-2">
                @Html.DisplayFor(modelItem => item.BasketID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.BasketItemID }, "Products") |
                @Html.ActionLink("Delete", "DeleteFromBasket", new { id = item.BasketItemID })
            </td>
        </tr>
    }

    <tr>
        <td colspan="3">
            Total
        </td>
        <td colspan="1">
            @ViewBag.AmountInBasket
        </td>
        <td colspan="1">
            @ViewBag.QuantityInBasket
        </td>

    </tr>
</table>
